<!-- <div class="row">
  <div class = "col-4">
    Hello
  <ul class="left-menu-buttons">
    <li *ngFor="let name of tabNames;  let i =index" class="left-menu-buttons">{{name}}</li>
  </ul>
</div>

<div class="col-8">
  Sfksdfj
  <ul class="left-menu-buttons">
    <li *ngFor="let name of tabNames;  let i =index" class="left-menu-buttons">{{name}}</li>
  </ul>
</div>

</div> -->



<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Company name</a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <button class="nav-link" (click)="signOut()">Sign out</button>
      </li>
    </ul>
  </nav>
  <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li *ngFor="let name of tabNames;  let i =index" class="nav-item" (click) ="tabClicked(i)">
                  <a [routerLink]="getRouteName(i)">
                    <!-- <a class="getClassName(i)" href="#"> -->
                <!-- <a ngClass="{{ ? 'nav-link active':'nav-link'"  href="#"> -->
                  <span data-feather="home"></span>
                  {{name}} 
                  <!-- <span class="sr-only">(current)</span> -->
                </a>
              </li>
            </ul>

            
          </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

            <router-outlet></router-outlet>
             <!-- <app-staff-list></app-staff-list> -->
        </main>

      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

    